* {
  margin-bottom: 5px;
}

h2 {
  margin-top: 20px;
  margin-bottom: 20px;
}

input[type=button] {
  margin-right: 20px;
}

input[type=radio] {
  margin-right: 20px;
  margin-left: 20px;
}

#final-calculate {
  margin-top: 20px;
  margin-bottom: 20px;
}

.seperator {
  border: solid black 2px;
  padding: 2%;
}
